body {

    margin: 0;
    padding: 0;
}

header {
    background-color: #613016;
    color: #fff;
    text-align: center;
    padding: 3px;
}

nav {
    background-color: #512a15;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #452414;
}