body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;

}

.dashboard {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}

.header {
    text-align: center;
    font-size: 24px;

}

.info {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.info p {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;

}

thead {
    background-color: #613016;
    color: #fff;
}

td, .textarea {
    background-color: #f2f2f2;
}


.edit-button, .delete-button, .update_button {
    background-color: #613016;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button {
    background-color: #ff0000;
}

.update_button {
    background-color: orange;
}

.edit-button:hover, .delete-button:hover, .update_button:hover {
    background-color: #0056b3;
}

.actions {
    display: flex;
    flex-direction: row;
}

.admin-td {
    color: white;
    background-color: red;
    border: none;
    width: 4%;
}

.textarea {
    width: 90%;
    border: none;

}

.pagination {
    text-align: center;
}


.pagination {
    display: inline-block;
    padding: 5px 10px;
    margin: 1px;
    background-color: #613016;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.pagination:hover {
    background-color: #0056b3;
}

.pagination .active {
    background-color: #2574a9;
}

.pagination.active {
    background-color: #0056b3;
}

.paginationContainer {
    margin-top: 9px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 18px;
    margin-top: 18px;

}


label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
}


input[type="text"],
select {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;

}


input[type="submit"],.clearStorageBtn {
    flex: 1;
    padding: 10px 20px;
    background-color: #613016;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

#successNotification {
    display: none;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-notification {
    display: none;
    background-color: #ff5733;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    overflow-y: scroll;

}

.modal-content {
    background-color: #fff;
    margin: 1% auto;
    padding: 20px;
    width: 95%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.close {
    float: right;
    cursor: pointer;
}

.containerDetails {
    display: flex;
    flex-direction: column;
}

.containerDetails p {
    margin-bottom: 1rem;
}

.form-columns {
    display: flex;
    justify-content: space-between;
}

.form-column {
    width: 48%; /* Adjust as needed, leaving some space for margin */
    display: flex;
    flex-direction: column;
}

.containerDetails label {
    margin-top: 1rem;
}

.containerDetails input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.containerDetails button {
    flex: 1;
    padding: 10px 20px;
    background-color: #613016;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.containerDetails button:hover {
    background-color: #0056b3;
}


.non {
    background-color: red;
    color: white;
}

.oui {
    background-color: green;
    color: white;
}

.abonne-green {
    background-color: green;
    color: white;
}

.abonne-red {
    background-color: red;
    color: white;
}

main {
    max-width: 800px;
    padding: 20px;
    /*background-color: #f5f5f5;*/
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    background: rgba(255, 255, 255, 0.15);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 10);
    margin: 12% auto;
    text-align: center;
}

main p {
    margin-bottom: 15px;
}

#indexBody {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;

}

.voirFicheLink {
    background: linear-gradient(to bottom, #0056b3 0%, #0056b3 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: #000;
    text-decoration: none;
}

.voirFicheLink:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230056b3' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.pagination.show-all {
    background-color: red;
    color: white;
}

.pagination.hide-all {
    background-color: green;
    color: white;
}